body{
  height: 100%;
}
.cursor-pointer{
  cursor: pointer;
}
.app-container{
  background: #eee;
}
.main-body{
  min-height: 800px;
}
.info-block{
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}
.suggestion-box{
  position: absolute;
  background: #fff;
  z-index: 1;
  padding: 10px 10px;
  margin: 0;
  list-style: none;
  border: 1px solid #ddd;
}
.suggestion-box li{
  display: block;
  padding: 5px ;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}
.suggestion-box li:hover{
  background: #eee;
}
.dashboard-wrap{
  min-height: 100vh;
}
.dashboard-left{
  margin-top:105px;
}
footer{
  background: #000;
  color: #fff;
}

.cropper-block{
  position: relative;
  height: 700px;
}